<template name="adManagerAdmin">
  <div class="container">
    <div class="page-header">
      <h2>Ad Manager</h2>
    </div>

    {{#if Template.subscriptionsReady}}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Url</th>
              <!-- <th>Text</th> -->
              <th>Image URL</th>
              <!-- <th>Extra Data</th> -->
              <th>Clicks</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each adverts}}
              <tr>
                <td>{{name}}</td>
                <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{url}}</td>
                <!-- <td>{{text}}</td> -->
                <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{imageUrl}}</td>
                <!-- <td>{{extraData}}</td> -->
                <td>{{clicks}}</td>
                <td>{{> quickRemoveButton collection="AdManagerAdverts" _id=this._id
                          class="btn btn-danger btn-xs" beforeRemove=beforeRemove}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{#unless adverts.count}}
        <p>There are currently no adverts.</p>
      {{/unless}}
    {{else}}
      Loading...
    {{/if}}

    <h2>Selected Ad {{#if selectedAd}}<small>{{selectedAd.name}}</small>{{/if}}</h2>
    
    {{#if selectedAd}}
      {{> adManagerAd ad=selectedAd}}
    {{else}}
      <p>Click on an ad in the table to view it.</p>
    {{/if}}

    <div class="row">
      <div class="col-sm-6">
        <h2>Add Advert</h2>
        {{#autoForm collection="AdManagerAdverts" id="insertAdManagerAdvertsForm" type="method" meteormethod="AdManager.addAdvert"}}
          {{> afQuickField name='name'}}
          {{> afQuickField name='url'}}
          <!-- {{> afQuickField name='text'}} -->
          {{> afQuickField name='imageUrl'}}
          <button type="submit" class="btn btn-primary">Submit</button>
        {{/autoForm}}
      </div>
      <div class="col-sm-6">
        <h2>Preview</h2>
        <div>
          {{> adManagerAd ad=previewAd}}
        </div>
        <button type="button" id="btn-reload" class="btn btn-success">Reload</button>
      </div>
    </div>
  </div>
</template>